.dashboard {
  &__container {
    &__header {
      height: 10.8rem;
      padding: 0 5.6rem 0 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & h3 {
        font-size: 2.4rem;
        color: $color-black;
      }

      &__right {
        display: flex;
        align-items: center;
        & > * {
          &:not(:nth-child(3)) {
            height: 4.4rem;
          }
        }
        & .input {
          background-color: none;
          height: 100%;
          width: 100%;
          &::-webkit-input-placeholder {
            color: #a3a3c2;
          }
          &::-moz-placeholder {
            color: #a3a3c2;
          }
          &:-ms-input-placeholder {
            color: #a3a3c2;
          }
          &::-ms-input-placeholder {
            color: #a3a3c2;
          }
          &::placeholder {
            color: #a3a3c2;
          }
        }

        & .btn {
          background: none;
          height: 100%;
          display: flex;
          align-items: center;
          & svg {
            height: 1.6rem;
            width: 1.6rem;
            fill: none;
            stroke: #a3a3c2;
          }
        }
        &__search {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: none;
          border: 0.1rem solid #e1e1eb;
          border-radius: 0.8rem;
          color: #a3a3c2;
          padding: 0 1.6rem;
          height: 100%;
          width: 32.8rem;
          & .btn {
            margin-right: 1.6rem;
          }
        }
        & .select {
          width: 16rem;
          margin-left: 2.4rem;
          justify-content: space-between;
        }

        &__button {
          width: 10.5rem;
          // margin-left: 1.6rem;
          & .btn {
            padding: 0 2.95rem;
            background: #25bb87;
            color: $color-white;
            font-size: 1.6rem;
            border-radius: 0.8rem;
          }
        }
      }

      @media (min-width: 320px) and (max-width: 768px) {
        align-items: unset;
        flex-direction: column;
        padding: 0;
        height: unset;
        & h3 {
          margin-left: 1.6rem;
        }
        &__right {
          flex-wrap: wrap;
          &__search {
            flex: 1 0 100%;
            width: 100%;
            margin: 0;
            margin-top: 1.6rem;
            margin-bottom: 1.6rem;
          }
          &__button {
            margin: 0;
            margin-left: 4%;
            width: 48%;
            & .btn {
              width: 100%;
              display: block;
              padding: 0rem;
            }
          }

          & hr {
            display: none;
          }
          & .select {
            margin: 0;
            width: 48%;
          }
        }
      }
    }
  }
}
