.dashboard {
  &__navbar {
    &__row {
      &__close {
        display: none;
      }
      &__card {
        border-radius: 0.8rem;
        border: 0.1rem solid $color-grey;
        padding: 1.2rem 3.5rem 1.1rem 5.7rem;
        & h4 {
          color: $color-black;
        }
      }
    }

    @media (min-width: 320px) and (max-width: 768px) {
      position: absolute;
      background-color: $color-white;
      width: 100%;
      z-index: 10000;
      height: 100%;

      transition: ease-in-out, width 1s ease-in-out;
      & > * {
        &:first-child {
          margin-top: 0;
        }
      }
      &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__close {
          display: block;
          height: 3.2rem;
          width: 3.2rem;
        }
      }
    }
  }
}
